/*********************************************
	Custom Styling for Gravity Forms
*********************************************/


/* Progress Bar */
.builder-module-block .gform_wrapper .gf_progressbar {
	width: 100%;
	border: 1px solid #3B3F42;
	background-color: #FFFFFF;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.builder-module-block .gform_wrapper .gf_progressbar_percentage {
	text-shadow: 0;
}
.builder-module-block .gform_wrapper .percentbar_custom {
	background-color: #3B3F42 !important;
}

/* Progress Bar Wrapper Border */
.builder-module-block .gform_wrapper .gf_progressbar_wrapper {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Footer Wrapper Border */ 
.builder-module-block .gform_wrapper .gform_page_footer {
	border-style: solid;
}

/* Input Styling */
.builder-module-block .gform_wrapper input[type=text],
.builder-module-block .gform_wrapper input[type=url],
.builder-module-block .gform_wrapper input[type=email],
.builder-module-block .gform_wrapper input[type=tel],
.builder-module-block .gform_wrapper input[type=number],
.builder-module-block .gform_wrapper input[type=password],
.builder-module-block .gform_wrapper textarea {
	font-size: 1em;
	color: #3B3F42;
	margin: 0;
	padding: .25em .5em;
	background: transparent;
	border: 1px solid #A4AFB6;
	-webkit-appearance: none;
	border-radius: 0;
	line-height: inherit;
	box-sizing: border-box;
}
.builder-module-block .gform_wrapper input[type=text]:focus,
.builder-module-block .gform_wrapper input[type=url]:focus,
.builder-module-block .gform_wrapper input[type=email]:focus,
.builder-module-block .gform_wrapper input[type=tel]:focus,
.builder-module-block .gform_wrapper input[type=number]:focus,
.builder-module-block .gform_wrapper input[type=password]:focus,
.builder-module-block .gform_wrapper textarea:focus {
	border-color: #3B3F42;
}
.builder-module-block .gform_wrapper textarea {
	resize: none;
}

/* Label Styling for inputs */
.builder-module-block .ginput_complex span label {
	margin-bottom: 1.5em;
}
.builder-module-block .gform_wrapper .ginput_complex label,
.builder-module-block .gform_wrapper .gfield_time_hour label,
.builder-module-block .gform_wrapper .gfield_time_minute label,
.builder-module-block .gform_wrapper .gfield_date_month label,
.builder-module-block .gform_wrapper .gfield_date_day label,
.builder-module-block .gform_wrapper .gfield_date_year label,
.builder-module-block .gform_wrapper .instruction {
	margin: .25em 0 1.5em 0;
}
.builder-module-block .gform_wrapper .top_label .gfield_label {
	margin-top: 1.5em;
}

/* Date Picker Styling */
.builder-module-block img.ui-datepicker-trigger {
	position: relative;
	top: -16px;
}
.ui-datepicker {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.ui-datepicker td,
.ui-datepicker th {
	padding: 0;
}
table.ui-datepicker .ui-datepicker-title-row td a {
	padding: 0 !important;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: 0 !important;
}


.builder-module-block .gform_wrapper span.ginput_product_price,
.builder-module-block .gform_wrapper span.ginput_total {
	color: #218BC4;
}
.builder-module-block .gform_wrapper span.ginput_total {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}